body{
    background:url("https://www.dhl.com/content/dam/dhl/global/delivered/images/smart-grid-press-1375x504/delivered-blog-covid-19-how-will-supply-chains-adapt-in-a-post-pandemic-phase-1.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
  }
  